.optionSelector{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 354px;
  &-label{
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 4px;
  }
  &-fakeinput{
    font-size: 15px;
    border: 1px solid #B3CDF8;
    box-sizing: border-box;
    border-radius: 8px;
    width: 354px;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
  }
  &-input{
    display: none;
  }
  &-list{
    width: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    position: absolute;
    top:75px;
    z-index: 20;
    margin-top: 2px;

    border-radius: 8px;
    border: 1px solid #B3CDF8;
    &__closed{
      display: none;
    }
    &__opened{
      display: block;
    }
  }
  &-dropicon{
    position: absolute;
    top: calc(50% + 3px);
    right: 16px;
    z-index: 22;
  }
  &-element{
    background-color: #FFFFFF;
    list-style: none;
    padding: 16px;
    cursor: pointer;
    border-bottom: 1px solid #B3CDF8 ;
    &:last-child{
      border-bottom: none;
    }
  }
}