.button{
  border-radius: 8px;
  color: white;
  height: 56px;
  width: 233px;
  line-height: 56px;
  font-size: 15px;
  text-align: center;
  transition: background-color 0.15s linear;
  cursor: pointer;

  &__regular{
    background: #5C98F1;
    &:hover{
      background: #4583DE;
    }
  }

  &__inactive{
    background: #D1D1D1;
    cursor: default;
  }
  &__press{
    background: #2C6AC7;
  }
  &-link{
    border: 1px solid #5C98F1;
    &__regular{
      background: #FFFFFF;
      color: #5C98F1;
      &:hover{
        background: #F3F8FF;
      }
    }
    &__inactive{
      border-color: #D1D1D1;
      color: #D1D1D1;
      cursor: default;
    }
    &__press{
      background: #DFECFF;
    }
  }

}