.inputField{
  margin-bottom: 15px;
}
.registerForm{
  &-inputGroup{
    margin-top: 48px;
    margin-bottom: 48px;
    .inputField{
      margin-bottom: 32px;
    }
    .optionSelector{
      margin-bottom: 32px;
    }
    .inputField:last-child{
      margin-bottom: 0;
    }
  }
  &-btnGroup{
    width: 354px;
    display: flex;
    justify-content: space-between;
    .button{
      width: calc(50% - 6px);
    }
  }
  &-formError{
    color: red;
    position: absolute;
    transform: translate(0,-175%);
  }
}
