.chatInput{
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #D7E6FF;
  background-color: #FFFFFF;
  label{
    display: flex;
    background-color: #FFFFFF;
    height: 100%;
    margin-left: 24px;
    margin-right: 24px;
    img{
      margin: auto;
    }
  }
  &-file, &-submit{
    display: none;
  }
  &-messageInput{
    flex-grow: 1;
    height: 100%;
  }
  @media (max-width: 768px) {
    label{
      margin-left: 18px;
      margin-right: 13px;

    }
    &-messageInput{
      margin-left: 8px;
    }
  }
}