.App {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #333333;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}
button {
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
}
a:-webkit-any-link:active {
  color: none;
}
a:-webkit-any-link {
  color: inherit;
  cursor: inherit;
  text-decoration: none;
}
